{% load static %}

<div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <div class="d-flex justify-content-between">
            <div id="coverimage" class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <img class="vertical-align" width="200" src="/media/{{book.cover_image}}">
                </div>
                <div class="d-flex flex-row mt-4 justify-content-center align-items-center">
                    {% if book.amazon_link %}
                        <a href="{{book.amazon_link}}" class="amazon-hyperlink">
                            <span class="amazon-button px-3">
                                <img width="16" src="{%static 'image/amazon.svg'%}">  {{book.amazon_rating}} <img width="16" src="{%static 'image/star-amazon.svg'%}">   | {{book.amazon_rating_count}}
                            </span>
                        </a>
                    {% endif %}
                </div>
                <div class="d-flex flex-row mt-4 justify-content-center align-items-center">
                    {% if book.goodreads_link %}
                        <a href="{{book.goodreads_link}}" class="goodreads-hyperlink">
                            <span class="goodreads-button px-3">
                                <img width="16" src="{%static 'image/goodreads.svg'%}"> {{book.goodreads_rating}} <img width="16" src="{%static 'image/star-goodreads.svg'%}"> | {{book.goodreads_rating_count}}
                            </span>
                        </a>
                    {% endif %}
                </div>
                <div class="d-flex flex-row mt-4 justify-content-center align-items-center">
                    {% if book.read_online_link %}
                        <a href="{{book.read_online_link}}">
                            <span class="read-online-button px-5">
                                Read Online
                            </span>
                        </a>
                    {% endif %}
                </div>

            </div>
            <div id="details" class="d-flex flex-column ml-4">
                <div class="d-flex flex-row">
                    <h3><a class="name-series-hyperlink" href="{% url 'series' book.series.id %}">{{book.name}}</a></h3>
                </div>
                <div class="d-flex flex-row">

                    {% if  book.has_kindle_unlimited %}
                        <span class="badge badge-dark mr-2">
                            Kindle Unlimited
                        </span>
                    {% endif %}
                    {% if  book.has_audiobook %}
                        <span class="badge badge-dark">
                            Audible
                        </span>
                    {% endif %}
                </div>
                <!-- <div class="d-flex flex-row mt-2">
					<span class="badge badge-dark">Psychic</span>
				</div> -->
                <div class=" mt-2">
                    {{book.description| safe }}
                </div>
            </div>
        </div>
    </div>
</div>
