{% load static %}
<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <div class="d-flex justify-content-between">
            <div id="coverimage" class="d-flex flex-column">
				<img class="vertical-align" width="96" src="{% static 'image/test.jpg' %}">
            </div>
            <div id="details" class="d-flex flex-column ml-4">
				<div class="d-flex flex-row">
					<h4>title title title title title title</h4>
				</div>
				<div class="d-flex flex-row mt-2">
					<span class="badge badge-dark">Psychic</span>
				</div>
				<div class="d-flex flex-row mt-2 justify-content-between">
					This is description of life and how is this thing This is description of life and how is this thing This is description of life and how is this thing This is description of life and how is this thing
				</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-3">
		<div class="d-flex flex-row justify-content-between">
			<div class="d-flex flex-column flex-1">
				<span class="read-online-button px-4">
					Read Online
				</span>
			</div>
			<div class="d-flex flex-column flex-1">
				<span class="goodreads-button px-4">
					Goodreads
				</span>
			</div>
			<div class="d-flex flex-column flex-1">
				<span class="amazon-button px-4">
					Amazon
				</span>
			</div>
		</div>
	</div>
</div>
