{% load static %}
<div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">

                <select name="order" class="custom-select"  hx-get="?only_item=true" hx-target="#books"  >
                    <option selected disabled>Sort by</option>
                    <option value="amazon_rating">Amazon Rating</option>
                    <option value="goodreads_rating">Goodreads Rating</option>
                </select>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="hyperlink-filter">
                    <span class="vertical-align"> 
                        <img width="16" src="{% static 'image/check.svg' %}" class="tick-img" style="display: none;" />
                        <img width="16" src="{% static 'image/x.svg' %}" class="close-img" />
                        4 star and above Amazon
                    </span>
                </a>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="hyperlink-filter">
                    <span class="vertical-align">
                    <img width="16" src="{% static 'image/x.svg' %}" class="state-img" />
                        4 star and above Goodreads
                    </span>
                </a>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="hyperlink-filter">
                    <span class="vertical-align">
                    <img width="16" src="{% static 'image/check.svg' %}" class="tick-img" style="display: none;" />
                    <img width="16" src="{% static 'image/x.svg' %}" class="close-img" />
                        Kindle Unlimited Available
                    </span>
                </a>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="hyperlink-filter">
                    <span class="vertical-align">
                    <img width="16" src="{% static 'image/check.svg' %}" class="tick-img" style="display: none;" />
                    <img width="16" src="{% static 'image/x.svg' %}" class="close-img" />
                        Audible Available
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
