.read-online-button {
  border-radius: 0.2em;
  background-color: #337ab7;
  color: #ffffff;
  padding: 0.5em;
  border: 1px solid black;
}

.amazon-button {
  border-radius: 0.2em;
  background-color: #febd69;
  color: #333333;
  padding: 0.5em;
  border: 1px solid black;
}

.goodreads-button {
  border-radius: 0.2em;
  background-color: #f4f1ea;
  color: #4b382a;
  padding: 0.5em;
  border: 1px solid black;
}

.name-series-hyperlink {
  color: black;
  text-decoration: underline;
}

.name-series-hyperlink:hover {
  color: black;
}

.amazon-hyperlink:hover {
  text-decoration: none;
}
.goodreads-hyperlink:hover {
  text-decoration: none;
}

.hidden-image {
  display: none;
}

.hide-amazon-rated-above-4,
.hide-goodreads-rated-above-4,
.hide-has-kindle-unlimited,
.hide-has-audiobook {
  display: none;
}
